{% extends "::base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Coach:Add{% endblock %}

{% block body %}
<h1>Coach : {{ coach.getName() }}</h1>
<dl>
<dt>Identifiant en base :</dt><dd>{{ coach.getId() }}</dd>
<dt>Numéro NAF :</dt><dd>{{ coach.getNafNumber() }}</dd>
<dt>Nom d'&eacute;quipe :</dt><dd>{{ coach.getTeamName() }}</dd>
<dt>Race :</dt><dd>{%if race %}{{ race.getNomFr() }} ({{ race.getId() }}){% endif %}</dd>
<dt>Courriel :</dt><dd>{{ coach.getEmail() }}</dd>
<dt>Pr&ecirc;t :</dt><dd>{{ coach.getReady() }}</dd>
<dt>Triplette :</dt>
<dd>{%if coachTeam %}
    <a href="{{ path('_view_coach_team',{'coachTeamId':coachTeam.getId()} ) }}">{{ coachTeam.getName()}}</a>
    ({{ coachTeam.getId() }}){% endif %}</dd>
{%if matchs %}
<dt>Matchs :</dt>
<dd>
<ul>
{% for match in matchs %}
	<li> {{match.td1}}
	 vs {{match.td2}} <a href="{{ path('_view_coach',{'coachId':match.teamId2} )  }}" >{{match.coach2}}</a>
	({{match.casualties1}} sorties et {{match.points1}} points 
	- {{match.casualties2}} sorties et {{match.points2}} points ) </li>
{% endfor %}
</ul></dd>
{% endif %}
<dt>Points : </dt><dd>{{coach.getPoints()}}</dd>
<dt>Points adverses : </dt><dd>{{coach.getOpponentsPoints()}}</dd>
<dt>Diff&eacute;rence de touchdown :</dt><dd>{{coach.getNetTd()}}</dd>
<dt>Sorties :</dt><dd>{{coach.getCasualties()}}</dd>
</dl>
<a href="{{ path('_modify_coach',{'coachId':coach.id} )  }}" >Modifier</a>
<a href="{{ path('_delete_coach',{'coachId':coach.id} )  }}" >Supprimer</a>
{% endblock %}
