{% extends "::base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:CoachTeam:Add{% endblock %}

{% block body %}
<h1>Triplette : {{ coachTeam.name }}</h1>
<dl>
<dt>Identifiant en base :</dt><dd>{{ coachTeam.id }}</dd>
<dt>Membres :</dt>
<dd>
<ul>
{% for coach in coachTeam.getCoachs() %}
	<li><a href="{{ path('_view_coach',{'coachId':coach.getId()} )  }}" >{{coach.getName()}}</a> <a href="{{ path('_delete_coach',{'coachId':coach.getId()} )  }}" >Supprimer</a> <a href="{{ path('_modify_coach',{'coachId':coach.getId()} )  }}" >Modifier</a></li>
{% endfor %}
</ul></dd>
{% if matchs %}
<dt>Matchs :</dt>
<dd>
<ul>
{% for match in matchs %}
	<li>J{{match.round}} Table {{match.table}} : 
            <a href="{{ path('_view_coach',{'coachId':match.teamId1} )  }}" >{{match.coach1}}</a>
            ({{match.casualties1}} sorties et {{match.points1}} points ) {{match.td1}}
	 vs {{match.td2}} <a href="{{ path('_view_coach',{'coachId':match.teamId2} )  }}" >{{match.coach2}}</a>
	({{match.casualties2}} sorties et {{match.points2}} points ) </li>
{% endfor %}
</ul></dd>
{% endif %}

</dl>
<a href="{{ path('_modify_coach_team',{'coachTeamId':coachTeam.getId()} )  }}" >Modifier</a>
<a href="{{ path('_delete_coach_team',{'coachTeamId':coachTeam.getId()} )  }}" >Supprimer</a>
{% endblock %}